

$btn:red;
@mixin button($bgcolor,$textcolor){
    background-color: $bgcolor;
    color:$textcolor;
    font-size: 1 rem;
    width:40vw;
    height:40px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background-color: darken($bgcolor,10%);
    }
}

.button-primary{
    @include button($btn,white);
}